@media (min-width:972px){

.menu
{
    background-color:#736c4d;
    position:fixed;

    height: 185px;
    width: 100vw;
    
    transition: height 1s ease-out ;
    -webkit-transition: height 1s ease-out ;
    -moz-transition: height 1s ease-out ;
    -ms-transition: height 1s ease-out ;
    -o-transition: height 1s ease-out ;
}

.menu_hb
{
    margin-right:80px;
}

.menu_hb ul{
    display:flex;
    
}

.menu_hb ul li{
    margin-left: 30px;
}

.menu_hb #hbMenu{
    display:none;
}

.imgSlide1{
    display:flex;
    justify-content: space-between;
}

.slide1_text{
    margin-top: 600px;
    margin-left: 80px;
}

.slide1_button button{
    margin-top: 712px;
    margin-right: 80px;   
}

.slide2_content .article{
    margin-left: 550px;
    margin-right: 50px;
}

.slide-3{
    height: 100vh;
}

.slide-3 .content{
    position:absolute;
}

.slide-4-5 .article{

     left:15%;
    
}

.slide-6{
    height:100vh;
}

.slide-6 h2{
    position: absolute;
}

.slide-7{
    height:90vh;
}

.slide-7 .overlay{
    height:780px;
    width:33%;
}



}

@media(min-width:1332px){

.slide-8{
    height:100vh;
}

.slide-8 .rs-icone{
    position:absolute;
    top:70%
}

}