@media (min-width:939px){

.menu
{
    background-color:#736c4d;
    position:fixed;

    height: 185px;
    width: 100vw;
    
    transition: height 1s ease-out ;
    -webkit-transition: height 1s ease-out ;
    -moz-transition: height 1s ease-out ;
    -ms-transition: height 1s ease-out ;
    -o-transition: height 1s ease-out ;
}

.menu_hb
{
    margin-right:80px;
}

.menu_hb ul{
    display:flex;
    
}

.menu_hb ul li{
    margin-left: 30px;
}

.menu_hb #hbMenu{
    display:none;
}

.imgSlide1{
    display:flex;
    justify-content: space-between;
}

.slide1_text{
    margin-top: 600px;
    margin-left: 80px;
}

.slide1_button button{
    margin-top: 712px;
    margin-right: 80px;   
}


}