@import url("_reset.css");
@import url("style_desktop.css") screen and (min-width:868px);

@font-face{
    font-family: "Avenir";
    src:url("../fonts/AvenirLTStd-Medium.woff") format("woff");
}

*,*::before,*::after{
    box-sizing: border-box;
}


.bg{
    background-color: #bf964b;

}

.menu{
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.s1Logo{
    align-self: center;
}

.menu_hb{
    align-self: center;
}

.menu_hb a{
    text-decoration: none;
    color:white;
    font-family: "Avenir";
    font-size: 2rem;
   
}

.menu_hb li :hover{
    text-shadow: 0 0 20px #fff;
    transition: text-shadow 400ms ease-in-out;
    -webkit-transition: text-shadow 400ms ease-in-out;
    -moz-transition: text-shadow 400ms ease-in-out;
    -ms-transition: text-shadow 400ms ease-in-out;
    -o-transition: text-shadow 400ms ease-in-out;
}


.imgSlide1{
    background-image: url(../img/Slide-1/BGimage.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.slide1_content p{
    margin-top: 50%;
    margin-left: 30px;
    color:white;
    font-size: 8rem;
}

.slide2_content{

    display:flex;

    height:100vh; 
    background-image: url("../img/Slide-2/Slide2_BGimage.png");  
    background-position: -70%;
    background-repeat: no-repeat;

} 



@media(max-width:868px){
.menu
{
    background-color:#736c4d;
    position:fixed;
    width: 100vw;
    height:100px;
    transition:height 1s ease-out;
    -webkit-transition:height 1s ease-out;
    -moz-transition:height 1s ease-out;
    -ms-transition:height 1s ease-out;
    -o-transition:height 1s ease-out;
}

.menu_hb ul{
    display:none;   
}

#hbMenu{
    margin-right: 30px;
    margin-left: 30px;
}

.slide1_content{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

}